* { 
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background-color: #080714;
  
    padding: 20px;

    position: sticky;
    top: 0;
    z-index: 1000;

    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    gap:10px
}

.logo{
    width: 50px;
}

.appname {
    font-size: 1.2rem;
}

.header-nav a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.header-nav a:not(:last-child){
    padding-right: 10px;
}

.header-functionality {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.search-box {
  position: relative;
  display: inline-block;
}

.search-box input {
  padding: 8px 12px 8px 36px;
  border: none;
  border-radius: 20px;
}

.search-box i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.bell-icon, .user-icon {
    color:white
}

.bell-icon {
    margin-right: 5px;
}

.main-container {
    width: 100%;
    padding: 20px;
    background-image: url("assets/netflix-hunger.jpg"); 

    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

    font-size: large;
}

.main-container-detail{
    background-color: #080714a5;
    padding: 20px;
    width: fit-content;
    height: 100%;
    border-radius: 20px;
}

.main-container-detail h1 {
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
    margin-bottom: 20px;
    color: white;
}

.main-container-detail p {
    max-width: 600px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: white;
}

.rating {
    display: flex;
    align-items: center;
    gap: 30px;
}

.rating-right {
    display: flex;
    align-items: center;
    gap: 5px;
} 

.stars {
    color: #e9c40b
}

.imdb, .duration {
    color:white;
}

.age img {
    width: 30px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background: #e50914;  
    color: white;
    font-weight: bold;

    border-radius: 30px;
    border: none;
    cursor: pointer;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.main-container-button {
    width: 180px;
    height: 55px;
    font-size: 1.2rem;
}

.main-container-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(229, 9, 20, 0.6);
}

.main-container-button i {
     font-size: 1.2rem;
}

section {
    padding: 20px;
    background-color: #080714;
    color: white;
}

.section-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    gap:20px;

}

.movie-container-info {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}

.movie {
    flex: 1;
    font-size: 8px;
    background-color: white;
    color: white;
    border-radius: 5px;
    padding: 20px;
    aspect-ratio: 3 / 2; 
    height: auto;
}

.section-all-movies {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.section-one-first-movie {
    background-image: url("assets/cityof.png");
}

.section-one-second-movie {
    background-image: url("assets/promisel.png");
}

.section-one-third-movie {
    background-image: url("assets/theviking.png");
}

.movie-button {
    width: 100px;
    height: 30px;
    font-size: 1rem;
}

footer {
    background-color: #080714;
    color: white;
    padding: 40px 20px;
    font-size: 1.2rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
}

.footer-links {
    flex: 1;
    min-width: 250px;
}

.footer-links nav {
    margin-bottom: 15px;
}

.footer-links nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #ccc;
    font-size: 1.2rem;
}

.footer-links nav a:hover {
    color: white;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    min-width: 200px;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-social p {
    margin: 0;
}

.footer-social a {
    color: #ccc;
    text-decoration: none;
}

.footer-social a:hover {
    color: white;
}

.footer-apps img {
    width: 30px;
}

.footer-apps img:not(:last-child) {
    margin-left: 10px;
}


@media(max-width: 900px){
    .movie-container {
        flex-direction: column;
    }

    .movie {
        width: 100%;
    }

    .header-functionality {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .header-nav1 {
        display: none;
    }
}

@media(min-width: 900px){
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-nav2 {
        display: none;
    }
}
