* { 
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background-color: #080714;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
}

.header-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo .logo {
    height: 48px;
}

.header-logo .appname {
    color:white;
}

.header-nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.header-functionality {
    display: flex;
    align-items: center;
    gap: 15px;
}
.search-box {
  position: relative;
  display: inline-block;
}

.search-box input {
  padding: 8px 12px 8px 36px;
  border: none;
  border-radius: 20px;
}

.search-box i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.bell-icon, .user-icon {
    color:white
}

.main-container {
    width: 100%;
    height: 100vh;
    padding: 20px;

    background-image: url("assets/netflix-hunger.jpg"); 

    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}